@media only screen and ( max-width:  768px)
    .container
        width: 95.874%
        overflow: hidden

    #hide,
    #hideCard
        display: none
    .header
        padding: 10px 0
        &__mobil-btn.active
            transition: .3s all
            height: 20px
            .header__mobil-btn-top
                transform: rotate(45deg)
                top: 50%
            .header__mobil-btn-custom
                transform: rotate(-45deg)
                transition: .3s all
                width: 100%
                top: 50%
            &::before,
            &::after
                opacity: 0
                transition: .1s all
        &__mobil-btn
            display: block
            cursor: pointer
            margin-right: 20px
            width: 24px
            height: 9.5px
            transition: .3s all
            &-top
                width: 100%
                background-color: #1A1A1A
                height: 1.5px
                position: absolute
                cursor: pointer
                transition: .3s all
            &-custom
                width: 16px
                background-color: #1A1A1A
                height: 1.5px
                position: absolute
                cursor: pointer
                top: 50%
                transform: translateY(-50%)
                transition: .3s all
            &::before,
            &::after
                content: ''
                display: block
                position: absolute
                bottom: 0
                left: 0
                height: 1.5px
                width: 8px
                background-color: #1A1A1A
                transition: .1s all
                opacity: 1
            &::after
                height: 2px
                width: 2px
                border-radius: 50%
                left: 9px

        &__list
            display: none
        &__wrapper
            display: flex
            justify-content: space-between
            margin: 0
        &__logo
            padding: 0
            width: 165px
            height: 30px
            img
                width: 100%
                height: 100%
        &__search-basket
            padding: 0
            margin: 0 -10px
            &-btn
                padding: 0 10px
                img
                    width: 24px
                    height: 24px
        &__change-language
            margin: 0 -7.5px
            padding: 0 80px
            &-btn
                padding: 0 7.5px
                p
                    font-weight: 300
                    font-size: 16px
                    line-height: 18px
        .search-panel
            right: 2%
            &__btn
                width: 161px
    .mobile__menu.active
        top: 50px
        transition: .3s all
    .mobile__menu
        display: block
        position: absolute
        width: 320px
        height: auto
        padding: 20px 24px
        background-color: #fff
        z-index: 1
        top: -175px
        left: -1px
        transition: .3s all
        border: 1px solid #1A1A1A
        &__list
            list-style: none
            &-item
                margin-bottom: 15px
                &:last-child
                    margin-bottom: 0
        &__link
            text-decoration: none
            font-size: 16px
            line-height: 18px
            color: #1A1A1A
            &::before
                content: ''
                display: block
                position: absolute
                width: 0
                height: 1px
                bottom: -1px
                left: 0
                background-color: #1A1A1A
                transition: .3s all
            &:hover
                &::before
                    width: 100%
        &__change-language
            display: none
    
    .basket.active
        top: 50px
    .basket
        right: 0
    .preview
        padding: 123px 0 122px 2px
        &__title
            font-size: 48px
            line-height: 100%
            width: 80%
            span
        &__wrapper
            margin-top: 11px
            width: 100%
            &-text
                font-size: 18px
                line-height: 21px
    .about-company
        padding: 60px 0
        overflow-x: hidden
        &__title
            font-size: 28px
            line-height: 32px
            margin-bottom: 29px
        &__descr
            font-size: 16px
            line-height: 140%
            margin-top: 13px
        &__img
            display: none
            &-medium
                display: none
            &-tablet
                display: block
        &__wrapperv
    .catalog
        padding: 0 0 60px 0
        &__title
            font-size: 28px
            line-height: 32px
        &__cards-block
            margin: 11px -10px 0 -10px
        &__card
            width: 33.33%
            margin-top: 20px
            padding: 0 10px
            height: 200px
            &-wrapper
                padding: 15px 8px 15px 15px
            &-img
                margin: 0 auto
                height: 145px
                &-desc
                    display: none
                &-tablet
                    display: block
                    margin: 0 auto
            &-img.ind
                height: 145px
            &-descr
                font-size: 16px
                line-height: 18px
                margin-top: 5px
            &-descr.ind
                margin-top: -13px
    .howtobuy
        padding: 40px 0
        &__title
            font-size: 28px
            line-height: 32px
        &__descr
            p
                font-size: 18px
                line-height: 21px
    .brands
        padding: 60px 0 30px 0
        &__title
            font-size: 28px
            line-height: 32px
        &__link
            p
                font-size: 14px
                line-height: 16px
            img
                width: 16px
                height: 12px
        &__wrapper
            margin: 30px -20px 0 -20px
        &__item
            padding: 0 20px 
            img
                width: 150px
    .works
        padding: 27px 0 78px 0
        &__title
            font-size: 28px
            line-height: 32px
        &__link
            p
                font-size: 14px
                line-height: 16px
            img
                width: 16px
                height: 12px
        &__img
            &-container
                padding: 50.5px 22.5px
        &__wrapper
            margin: 30px -10px 0 -10px
        &__card
            width: 33.33%
            padding: 0 10px
            &-modal
                font-size: 12px
                line-height: 14px
                margin-top: 17px
            &-descr
                font-size: 16px
                line-height: 18px
                margin-top: 15px
                width: 100%
            &-price
                font-size: 16px
                line-height: 18px
                margin-top: 15px
            &-addToBasket
                font-size: 14px
                line-height: 16px
                margin-top: 20px
                span
                    display: none
        &__icon
            width: 30px
            height: 30px
    .footer
        padding: 40px 0
        &__title
            font-size: 18px
            line-height: 21px
        &__item
            &__link
                font-size: 16px
                line-height: 18px
        &__logo
            img
                width: 165px
                height: 31px
        &__moreinfo
            margin-top: 41px
        &__copyright
            p
                font-size: 14px
                line-height: 16px
        &__date
            padding-left: 48px
            p
                font-size: 14px
                line-height: 16px
                padding-right: 2px
        &__prodaction
            &-content
                p
                    font-size: 14px
                    line-height: 16px



            // 
    .directory
        padding: 19px 1px
    .vent
        padding: 30px 0 20px 0
        .catalog__card
            padding: 0 10px
            height: 390px 
            &-wrapper
                padding: 15px 0 0 0
            &-descr
                padding: 1px 0 14px 13px
            &-descr.over
                margin-top: -13px
        &__cards-block
            margin: 20px -10px 0 -10px
    .plumbing
        &__cards-block
            margin: 1px -10px 0 -10px
        .catalog__card
            padding: 0 10px
            height: 368px 
            &-wrapper
                padding: 15px 0 0 0
            &-descr
                padding: 1px 0 14px 13px
            &-descr.over
                margin-top: -13px
    .accordion
        &__wrapper
            width: 91.5%
            min-height: 170px
        &__hidden
            &__link
                a
                    font-size: 14px
                    line-height: 16px

    .info
        padding: 40px 0 108px 0
        &__text
            width: 95%